<h1>添加仪器</h1>
<%= form_for @equipment, :url => user_equipments_path(@user) do |f| %>
    <%= f.label :name, "仪器名称：" %>
    <%= f.text_field :name %>
    <%= f.label :number, "仪器编号：" %>
    <%= f.text_field :number %>
    <%= f.label :belong_to_institution, "所属单位："%>
    <%= f.text_field :belong_to_institution %>
    <%= f.label :owner, "管理人员：" %>
    <%= f.text_field :owner %>
    <%= f.label :detail, "功能：" %>
    <%= f.text_field :detail %>
    <%= f.label :price, "价格：" %>
    <%= f.text_field :price %>
    <h2>可用时间段</h2>
    <%= f.label :able_start_time, "起始时间：" %>
    <%= f.datetime_select :able_start_time %>
    <%= f.label :able_end_time, "结束时间：" %>
    <%= f.datetime_select :able_end_time %>
    <br>
    <%= f.submit "提交" %>
<% end %>
<%= link_to "返回", manager_path %>