<h1>显示</h1>
<p id="notice"><%= notice %></p>
<% if signed_in? %>

    <label>用户名：<%= current_user.name%></label><br>
    <label>邮箱：<%= current_user.email%></label>

<% end %>
<br>
<%= link_to '返回', '/' %>
<%= link_to '编辑', edit_user_path %>
